NASA_API_KEY=your_nasa_api_key_here
VITE_LL2_API_KEY=your_spacedevs_token_here_optional
PORT=3001
SPACETRACK_USERNAME=your_spacetrack_email@example.com
SPACETRACK_PASSWORD=your_spacetrack_password
VITE_CESIUM_TOKEN=your_ion_cesium_com_token_here
